html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
}
.flex.column {
  flex-direction: column;
}
.flex.row {
  flex-direction: row;
}

.flex.fill {
  height: 100%;
}
.grid.fill {
  height: 100%;
}

.flex.center {
  justify-content: center;
}

.grid {
  display: grid;
}

.grid.split.vertical {
  grid-template-columns: 50% 50%;
}

.cursor-pointer {
  cursor: pointer;
}

/* tailwind directive */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fill-primary {
    @apply fill-black;
  }
  .stroke-primary {
    @apply stroke-black;
  }
  .stroke-secondary {
    @apply stroke-violet-50;
  }
  .stroke-negative {
    @apply stroke-red-500;
  }
  .stroke-positive {
    @apply stroke-green-500;
  }

  .background-light {
    @apply bg-violet-50;
  }
  .backgroud-light-transparent {
    @apply bg-violet-50 opacity-30;
  }
  .backgroud-dark {
    @apply bg-violet-900;
  }
}
